
@{
    ViewData["Title"] = "About Us";
}

<h2>&nbsp</h2>

<div style="align-items: center; padding: 15px">  
    
    <h1>
        About Us
    </h1>
    <p style="font-size: 18px">
        The Iscor Squash Club was started in 1969 with one court based at the old Iscor Club (now North West University). Within two years another court was built and by 1981 there were four courts on the property. These courts were for many years the only ones in the Vanderbijlapark area.
        <br><br>
        In 1983 the club was in the process of planning the building of two additional courts when they were approached by Squash Promotions to purchase the Squash Centre. The Squash Centre was built in 1981 by Squash Promotions following an agreement between them and the Municipality. The Squash Centre consists of 8 courts of which 6 are glass backed.
        <br><br>
        Squash Promotions were not able to run the courts on an economically viable basis and offered the courts to the Iscor Squash Club. The courts were purchased from Squash Promotions and the lease agreement was transferred to the Iscor Club.
        <br><br>
        In 2006 the North West University purchased the Iscor Club and informed the Squash Club that they would be converting the original four courts at the club into lecture rooms. The Squash Club moved all squash activity to the Centre and this has become the hub of most of the squash activity in the Vaal Triangle. The centre is also the only facility where squash can be played in Vanderbijlpark.
        <br><br>
        The club has also gone through a number of name changes starting with Iscor Squash, then Emfuleni Squash and eventually ending up currently as the ArcelorMittal Squash Club. The club has stayed essentially the same over the years and is still run by an elected committee of volunteers.
        <br><br>    
    </p>
    <div id="rates">
    <h1>
        Hours
    </h1>
    <p>
        <b>
        Mondays - Thursdays:    6h00 - 22h00 <br>
        Fridays:    6h00 - 20h00<br>
        Satudays:    7h00 - 18h00<br>
        Sundays:    12h00 - 17h00<br>
        Closed on Christmas day and New Years day.<br>
        All other Public holidays:    12h00 - 17h00
        </b>
    </p>
    </div>
</div>