
@{
    ViewData["Title"] = "Booking";
}
<link href="~/css/Booking.css" rel="stylesheet" /> <!--References created booking css-->>
<div class="text-center">
    <!--CENTERS EVERYTHING-->
    <h3>&nbsp</h3>
    <h1 class="display-4">Bookings</h1> <!--DISPLAY SIZE 4-->

    <table style="width:6%">
        <tr>
            <td colspan="1">&nbsp</td>
        </tr>
        <tr>
            <td colspan="1">Court</td>
        </tr>
        <tr>
            <td colspan="1">1</td>
        </tr>
        <tr>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="1">3</td>
        </tr>
        <tr>
            <td colspan="1">4</td>
        </tr>
        <tr>
            <td colspan="1">5</td>
        </tr>
        <tr>
            <td colspan="1">6</td>
        </tr>
        <tr>
            <td colspan="1">7</td>
        </tr>
        <tr>
            <td colspan="1">8</td>
        </tr>
    </table>

    <table style="width:91%">
        <tr>
            <td colspan="34">2019/08/14</td>
        </tr>
        <tr>
            <td>06:00</td>
            <td>06:30</td>
            <td>07:00</td>
            <td>07:30</td>
            <td>08:00</td>
            <td>08:30</td>
            <td>09:00</td>
            <td>09:30</td>
            <td>10:00</td>
            <td>10:30</td>
            <td>11:00</td>
            <td>11:30</td>
            <td>12:00</td>
            <td>12:30</td>
            <td>13:00</td>
            <td>13:30</td>
            <td>14:00</td>
            <td>14:30</td>
            <td>15:00</td>
            <td>15:30</td>
            <td>16:00</td>
            <td>16:30</td>
            <td>17:00</td>
            <td>17:30</td>
            <td>18:00</td>
            <td>18:30</td>
            <td>19:00</td>
            <td>19:30</td>
            <td>20:00</td>
            <td>20:30</td>
            <td>21:00</td>
            <td>21:30</td>
            <td>22:00</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
    </table>

    <p>Date:<input type="date" name="BookingDate"></p>
    <p><input type="button" name="bookBtn" value="Book"></p>
</div>

<p>Your booking:</p>

<p>
    Infomration on bookings:
    <ul>
        <li>Members can only book up to 2 weeks in advance</li>
        <li>etc</li>
        <li>etc</li>
    </ul>
    <!--<table style="width:100%">
        <tr>
            <th>Booking Information</th>
        </tr>
        <tr>
            <td>-Members can only book up to 2 weeks in advance<td>
        </tr>
        <tr>
            <td>-Etc. Etc. Etc.</td>
        </tr>
    </table>-->
</p>
<h1>&nbsp</h1>
<h1>&nbsp</h1>

