@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
}
<h1>&nbsp</h1>

<div style="padding: 15px">
    <h1 style="text-align: center">
        Contact Us
    </h1>
    <p style="font-size: 18px">
        <i class="fas fa-phone"></i>
        &emsp;(+27)16 931 1014<br>
        <i class="fas fa-envelope"></i>
        &emsp;mittalsquash@telkomsa.net<br>
        <i class="fas fa-map-marker-alt"></i>
        &emsp;Cnr Barrage Road and Louis Trichardt Blvd<br>
        Vanderbijlpark, Gauteng East, Sedibeng - Emfuleni - Vanderbijlpark, Gauteng<br>
        South Africa
    </p>
</div>