@{
    ViewData["Title"] = "Welcome";
}
<body class="insertBack">
    <div class="text-center">
        <div class="container" style="padding-bottom: 80px; margin-bottom: 80px">
            <h1>&nbsp</h1>
            <h1>&nbsp</h1>
            <h1>&nbsp</h1>
            <h1>&nbsp</h1>
            <h1 class="display-4">Mittal Squash Club Bookings</h1>
            <p>Welcome to Mittal Squash Club Bookings.</p>
        </div>
    </div>
</body>