@{
    ViewData["Title"] = "Welcome";
}

    <div class="text-center">
        <h1>&nbsp</h1>
        <h1>&nbsp</h1>
        <h1>&nbsp</h1>
        <h1>&nbsp</h1>
        <h1 class="display-4">Mittal Squash Club Bookings</h1>
        <p>Welcome to Mittal Squash Club Bookings.</p>
    </div>
