@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rates";
}

<h1>&nbsp</h1>

<div style="padding: 15px">
    <h1 style="text-align: center">
        Rates
    </h1>
    <p style="font-size: 18px">
        Off-peak times<br>
        &bull; Members:     R10 per hour<br>
        &bull; Non-members: R40 per hour<br>
        <br>
        Peak times<br>
        &bull; Members:     R20 per hour<br>
        &bull; Non-members: R80 per hour<br>
        <br><br>
        Off-peak hours: 6h00 - 17h00 & 20h00 - 22:00<br>
        Peak hours: 17h00 - 20h00
    </p>
</div>
