@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rules";
}
<h1>&nbsp</h1>
<body>
    <div class="container" style="padding: 15px">
    <h1>
        <b>Rules</b>
    </h1>
    <h2>
        Court rules
    </h2>
    <p style="font-size: 18px">
        &ensp; &bull;Players must wear non-marking shoes (white or tan soles).<br>
        &ensp; &bull;No food or drinks are allowed on the court.<br>
        &ensp; &bull;No playing of loud music is allowed.<br>
        &ensp; &bull;Players are only allowed to use squash rackets and balls when playing on the court.<br>
        &ensp; &bull;Be considered of other players and don't exceed the booked time.<br>
    </p>
    <h2>&nbsp</h2>
    <h2>
        Payment rules
    </h2>
    <p style="font-size: 18px">
        &ensp; &bull;Payments must be made before players can access the court.<br>
        &ensp; &bull;Payments must be paid in full and for the hours booked.<br>
        &ensp; &bull;Cash and card payments are accepted.<br>
    </p>
    <h2>&nbsp</h2>
    <h2>
        General rules
    </h2>
    <p style="font-size: 18px">
        There is a cash bar on the premises.<br>
        &ensp; &bull;Alcohol not for sale to persons under the age of 18 <br>
        &ensp; &bull;The bar sells various other beverages.
    </p>
    <h2>&nbsp</h2>
    <h2>
        Booking rules 
    </h2>
    <p style="font-size: 18px">
        Copy die van Arno af<br>
        &ensp; &bull;Bookings will expire if the player does not check in within 10 minutes of their booked time.<br>
        &ensp; &bull;Any bookings not honored must be paid in full and a warning is issued.<br>
        <b>The club uses a strict honor system</b><br>
        If players do not honor their bookings they will recieve:<br>
        &ensp; &bull; 1st warning = verbal warning and pay for the hours booked.<br>
        &ensp; &bull; 2nd warning = R50 fine and pay for the hours booked.<br>
        &ensp; &bull; 3rd warning = R300 fine and pay for the hours booked.<br>
        Warnings are cleared every 2 months and players can only book and play once all their fines and accrued payments are made.
    </p>
    </div>
</body>