@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rules";
}
<h1>&nbsp</h1>
<body>
    <h1>
        Rules
    </h1>
    <h2>
        Court rules
    </h2>
    <p style="font-size: 18px">
        &bull;Players must wear non-marking shoes (white or tan soles).<br>
        &bull;No food or drinks are allowed on the court.<br>
        &bull;No playing of loud music is allowed.<br>
        &bull;Players are only allowed to use squash rackets and balls when playing on the court.
        &bull;Be considered of other players and don't exceed the booked time.
    </p>
</body>