<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSC Bookings</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
    
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <a asp-area="" asp-controller="Home" asp-action="Booking" class="navbar-sec-brand" style="float: right; margin-right: 15px">Log In</a>
            <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="navbar-sec-brand" style="float: right; position: relative">Register</a>
            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" style="float: left; margin-left: 15px" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MSC Bookings</a>

                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Booking">Make Bookings</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">My Bookings</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="DBExampleView">View Booking Times</a></li>
                    </ul>
                </div>

            </div>

        </nav>

        <partial name="_CookieConsentPartial" />


        @RenderBody()
        <footer style="text-align: center">
            <p>&copy; 2019 - Mittal Squash Club</p>
            <div>
                <a style="padding-right: 80px" asp-controller="Home" asp-action="Booking">Rules</a>

                <a style="padding-right: 80px" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>

                <a style="padding-right: 80px" asp-area="" asp-controller="Home" asp-action="Booking">Profile</a>

                <a style="padding-right: 80px" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>

                <a asp-area="" asp-controller="Home" asp-action="Rates">Rates</a>
            </div>

        </footer>


    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
